.product-details {
  margin: 20px;
}

.product-details h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details .price {
  font-weight: bold;
  font-size: 18px;
}

.product-details .quantity {
  font-weight: bold;
  font-size: 16px;
}

.product-details .discounted-price {
  font-weight: bold;
  font-size: 16px;
  color: #e30613;
}

.product-details .product-images {
  margin-top: 20px;
}

.product-details .product-images img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}

.product-details .add-to-cart-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.product-details .add-to-cart-button:hover {
  background-color: #333;
}
