.carousel {
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 100%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.carousel-item img {
    width: 200px;
    // height: 200px;
    aspect-ratio: 1/1;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.8;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.carousel-indicators li.active {
    background-color: white;
}