<mat-toolbar color="primary">
  <span class="app-title">My Cart</span>
  <span class="cart-icon" (click)="goToCartPage()">
    <mat-icon>shopping_cart</mat-icon>
  </span>
</mat-toolbar>
<div class="cart-container">
  <div class="cart-header">
    <h2 class="cart-title">Mon Panier</h2>
  </div>
  <div class="cart-items">
    <!-- Boucle sur les articles du panier -->
    <div class="cart-item" *ngFor="let productDetailAmount of productDetailAmounts">
      <div class="item-image">
        <img [src]="productDetailAmount.imageUrls[0]" alt="Product Image">
      </div>
      <div class="item-details">
        <h3 class="item-name">{{ productDetailAmount.name }}</h3>
        <p class="item-price">Prix Total: {{ productDetailAmount.detailAmount }} Dt</p>
        <div class="item-quantity">
          <span class="quantity-label">Quantité :</span>
          <input type="number" class="quantity-input" [(ngModel)]="productDetailAmount.quantity">
        </div>
      </div>
      <div class="item-actions">
        <button class="remove-button" (click)="deleteOrderDetails(productDetailAmount)">Supprimer</button>
      </div>
    </div>
    <!-- Fin de la boucle -->
  </div>
  <div class="cart-footer">
    <div class="total-amount">
      <h2 class="amount-label">Montant total :</h2>
      <p class="amount-value">{{ totalOrderAmount }} Dt</p>
    </div>
    <div class="cart-actions">
      <button class="continue-shopping-button" [routerLink]="'/Products'">Continuer vos achats</button>
      <button class="checkout-button" [routerLink]="'/payments/createPayment'">Valider la commande</button>
    </div>
  </div>
</div>
