<!-- header-filter.component.html -->
<section class="background-section">
  <div class="overlay">
    <div class="filter-container">
      <div>
        <h1>Recherchez le meilleur camping pour vos vacances.</h1>
        <div class="filter-content">
          <mat-form-field class="filter-field">
            <mat-label>Destination</mat-label>
            <input matInput placeholder="Enter destination" />
          </mat-form-field>

          <mat-form-field class="filter-field">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [matDatepicker]="startDatePicker"
              placeholder="Choose a date"
              [(ngModel)]="filter.startDate"
              name="startDate"
            />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="filter-field">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [matDatepicker]="endDatePicker"
              placeholder="Choose a date"
              [(ngModel)]="filter.endDate"
              name="endDate"
            />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="filter-field">
            <mat-label>Number of Guests</mat-label>
            <input
              matInput
              type="number"
              placeholder="Enter number of guests"
              [(ngModel)]="filter.numGuests"
              name="numGuests"
            />
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="search()" class="filter-button">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
