<page-header class="bg-deep-purple-500">{{ titleService }}</page-header>
<h2>Promotions</h2>

<div>
  <button mat-raised-button color="primary" routerLink="createPromo">Ajouter Promotion</button>
  <nav>
    <ul>
      <li><a mat-button routerLink="affecterPromoToProduct">Affecter Promotion à un Produit</a></li>
      <!-- Autres liens de navigation -->
    </ul>
    <ul>
      <li><a mat-button routerLink="removeProductFromPromotion">Dessafecter Promotion à un Produit</a></li>
      <!-- Autres liens de navigation -->
    </ul>
  </nav>
  <input type="date" [(ngModel)]="startDate">
  <input type="date" [(ngModel)]="endDate">
  <button mat-raised-button color="primary" class="mr-100" (click)="submitDates()">Search</button>
  <button mat-raised-button color="warn" (click)="reset()">Reset</button><br><br>
  <mtx-grid
    [data]="list"
    [columns]="columns"
    [length]="total"
    [loading]="isLoading"
    [pageOnFront]="false"
    [pageIndex]="query.page"
    [pageSize]="query.size"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="getNextPage($event)"
  >
  </mtx-grid>
</div>




