camping-container {
    padding: 15px;
}

.camping-centent {
    display: flex;
    flex-wrap: wrap;
}

.filters {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.campings-list {
    padding: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.camping-image {
    width: 200px;
    height: 200px;
}

.camping-card {
    border-radius: 10px;
    display: flex;
    box-shadow: none;
    flex-direction: row;
    width: calc(80% - 10px);
    /* Adjust the width as needed */
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.camping-title {
    margin: 0;
    padding: 50px;
    font-size: xx-large;
}