.user-form {
    width: 60%;
    margin: 0 auto;
}

.input-form {
    width: 100%;
}


@media (max-width: 600px) {
    .user-form {
        width: 90%;
    }
}

.footer-button-container {
    display: flex;
    justify-content: center;
}

.campsite-info {
    height: 100%;
    /* Set the height of the container to ensure scrolling */
    overflow-y: auto;
    /* Enable vertical scroll */
}